<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Boolean Bookworm</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">  
</head>

<body>
<div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1><a href="/">Boolean Bookworm Bookclub</a></h1>
  <nav>
    {{#if logged_in}}
    <a href="/profile">Profile</a> |
    <a href="/">Home</a> |
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login">Login | Signup</a>
    {{/if}}
  </nav>
  </header>

  <main>
  {{{body}}}
  </main>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>