<div class="row profile">
  <h2 class="user-name">Welcome, {{user.name}}!</h2>
  <div class="personal_readingList p-1 border col-md-6">
    <header>
      <h2 class="prbook_list_header d-flex justify-content-center">Personal List Reading List:</h2>
    </header>
    <ul class="prbook_list">
      {{#each books as |book|}}
      <li>{{book.book_name}}</li>
      {{/each}}
    </ul>

    <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">Add Book to Personal Reading List</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mx-3">
            <form class="new-book-form">
              <div class="form-group">
                <label for="title">Title:</label>
                <input class="form-input" type="text" id="title" name="title" />
              </div>
              <div class="form-group">
                <label for="author">Author:</label>
                <input class="form-input" type="text" id="author" name="author" />
              </div>
              <div class="form-group">
                <label for="book-desc">Description:</label>
                <textarea class="form-input" id="book-desc" name="book-desc"></textarea>
              </div>
              <div class="form-group">
                <p class="form-input" type="text" id="user-id" name="user-id">{{user.id}}</p>
              </div>
            </form>

          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button class="btn btn-primary" id="submit">Submit</button>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalLoginForm"> Add
        Book</a>
    </div>
  </div>
  <div class="profile-card col-md-6">
    <div class="card">
      <div class="card-header">
        <h2>Member Of:</h2>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">The Bookaholics</li>
        <li class="list-group-item">The C Word Book Club</li>
        <li class="list-group-item">All Booked</li>
        <li class="list-group-item">Boolean Bookworm Bookclub</li>
      </ul>
    </div>
  </div>
</div>


<script src="./js/profile.js"></script>