<h1 class="d-flex ms-2">{{name}}</h1>
  <div class="mt-5">
    <h2 class="prReading_list d-flex">Personal List Reading List:</h2>
      <ul class="prbook_list border d-flex">
        {{#each books as |book|}} 
        <li>{{book.book_name}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>

<script src="./js/profile.js"></script>