
<h2 div class="row justify-content-sm-center"</h2>
  <div class="col-sm-auto d-flex">                
    <div class="card" style="width: 30rem; margin-top:15%; margin-left:0%; margin-right:20%">
    <div class="card-header">
            Member Of:
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">The Bookaholics</li>
            <li class="list-group-item">The C Word Book Club</li>
            <li class="list-group-item">All Booked</li>
            <li class="list-group-item">Boolean Bookworm Bookclub</li>
          </ul>
    </div>
</div>
      
<h1 class="d-flex ms-2">{{name}}</h1>
  <div class="mt-5">
    <h2 class="prReading_list d-flex">Personal List Reading List:</h2>
      <ul class="prbook_list border d-flex">
        {{#each books as |book|}} 
        <li>{{book.book_name}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
</div>

<script src="./js/profile.js"></script>