 <div class="row">

    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <div>
        <div class="club_member">
            {{!-- need to add code below --}}
         {{!-- Member of:{{#if }}{{/if}} --}}
        </div>

        <div class="prReading_list">
            Personal List Reading List:
            <ul class="prbook_list">
                {{#each book}}
                <li>{{book.title}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
    {{/if}}
</div>

<script src="./js/profile.js"></script>
