header, .project:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
  
  .no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-size: 100%;
  }
  
  .no-button:hover {
    color: #065b83;
    text-decoration: underline;
  }
  

  main {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  body { 
    background: url(/images/bookBackground.png) no-repeat center center fixed; 
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
    background-size: cover;
}
h1 {
    font-family: 'Amatic SC', cursive;
    color: #fff;
    font-size: 60px;
    
}

h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
}

.bookclubList {
    margin: auto;
    margin-top: 35px;
    justify-content: center;
    color: #fff;
}

.prbook_list {
    padding: 10%;
    /* margin: auto;
    margin-top: 5px; */
    color: #fff;
    width: max-content;
}

.personal_readingList {
    padding: 20%;
}

.book_list {
    list-style-type: none;
}

.newBook {
    width: max-content;
    justify-content: end;
}

#user-id {
    display: none;
}

nav {
    font-size: 20px;
}

li {
    font-size: 20px;
    list-style-type: none;
}

.row {
    margin-top: 40px;
    width: 50%;
}

.aside {
    margin: 40px;
    width: 25%;
}

.bookclub_blog {
    color: #fff;
}

.card-title, .card-text, .blog-header, h4, label {
    color: #2d3e50;
}

.login-page {
    margin: auto;
}

.login-card {
    margin-top: 48px;
}


.profile {
    margin: auto;
    margin-top: 5%;
    display: flex;
}

.user-name {
    color: #fff;
    font-size: 50px;
    text-align: center;
    padding-bottom: 5%;
}