header, .project:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
  
  .no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-size: 100%;
  }
  
  .no-button:hover {
    color: #065b83;
    text-decoration: underline;
  }
  

  main {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  body { 
    background: url(/images/bookBackground.png) no-repeat center center fixed; 
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
    background-size: cover;
}
h1 {
    font-family: 'Amatic SC', cursive;
    color: #fff;
    font-size: 60px;
    
}

h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
}

h8 {
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
}

.bookclubList {
    margin: auto;
    margin-top: 35px;
    justify-content: center;
    color: #fff;
}

.prbook_list {
    margin: auto;
    margin-top: 5px;
    color: #fff;
    width: max-content;
}

.prReading_list {
    margin: auto;
    margin-top: 10px;
    color: #fff;
}


.book_list {
    list-style-type: none;
}



nav {
    font-size: 20px;
}

li {
    font-size: 20px;
    list-style-type: none;
}

.row {
    margin-top: 10px;
}